<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dojo Survey</title>
		<style type="text/css">
			body{
				width: 970px;
				margin: 0px auto;
				padding: 20px;
			}
		</style>
	</head>
	<body>
		<form action="/result" method="post">
			<label>Your Name:</label>
			<input type="text" name="name"><br>
			<label>Dojo Location:</label>
			<select name="location">
				<option value="San Jose">San Jose</option>
				<option value="Seatle">Seatle</option>
				<option value="Dallas">Dallas</option>
				<option value="Washington D.C.">Washington D.C.</option>
				<option value="Chicago">Chicago</option>
				<option value="Los Angeles">Los Angeles</option>
			</select><br>
			<label>Favorite Language:</label>
			<select name="language">
				<option value="Python">Python</option>
				<option value="Ruby">Ruby</option>
				<option value="JavaScript">JavaScript</option>
			</select><br>
			<label>Comment (optional):</label><br>
			<textarea name="comment"></textarea><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>